$blue: #1c2735;
$green: #11a478;
$fucsia: #dc7ea4;

.contact-form {
	label {
		font-family: "IBM Plex Mono", monospace;
	}

	input,
	textarea {
		border-radius: 5px;
	}

	button {
		border-radius: 5px;
		font-family: "IBM Plex Mono", monospace;
		background-color: $green;
	}
}

.animate {
	transition: 0.5s ease-in-out all;
	transform: translateX(10px);
	opacity: 0;
	&.show {
		transform: translateX(0);
		opacity: 1;
	}
}
